#app {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#top {
  background: black;
  color: white;
}

#user-status {
	position: absolute;
	top: 7px;
	right: 75px;
}

#data-usage {
  margin-left: 25px;
  background: #333;
  padding: 2px;
  border-radius: 12px;
  padding-left: 10px;
  padding-right: 10px;
}

#logo {
  font-size: 24px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

#select-user {
}

#dev-warning {
    background: #CEFF87;
    padding: 5px;
    border-top: 2px solid #91D551;
    border-bottom: 2px solid #91D551;
    position: relative;
}

#close-dev-warning {
    position: absolute;
    top: 5px;
    right: 5px;
}

#close-dev-warning:hover {
  color: gray;
  cursor: pointer;
}

#middle {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: auto;
}

#bottom {
  background: black;
  color: white;
  text-align: center;
  padding: 10px;
}

#bottom {
  color: orange;
  font-size: 15px;
}

#left {
    width: 200px;
    background: #1B1B1B none repeat scroll 0% 0%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

.flex-edit {
  display: flex;
}

.edit-task-input {
  flex: 1;
}

.spacer-v {
    flex: 1 1 0%;
    border-bottom: 1px solid black;
    margin-left: -10px;
    margin-right: -10px;
}

#button-bar {
    background: rgb(17, 17, 17) none repeat scroll 0% 0%;
    color: gray;
    border-top: 1px solid rgb(48, 48, 48);
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    display: flex;
}

.button-bar-button {
  text-align: center;
  padding: 10px;
  flex: 1;
}

.button-bar-button:hover {
  cursor: pointer;
  background: #333;
}

.button-bar-button.green {
  color: #4AF930;
}

#right {
	flex: 1;
	background: silver;
	padding: 10px;
  overflow-y: auto;
}

button.black {
    background: #333;
    color: silver;
    border: 1px solid black;
    padding: 5px;
}

button.black:hover {
  cursor: pointer;
}

.task-done {
  text-decoration: line-through;
  color: gray;
}

#new-task-input {
    border: medium none;
    padding: 10px;
    display: block;
    flex: 1;
    font-size: 16px;
    border-bottom: 1px solid silver;
}

.delete-x {
    color: #C0C0C0;
    top: 13px;
    position: absolute;
    right: 10px;
}

.delete-x:hover {
    color: gray;
    cursor: pointer;
}

.task-count {
    float: right;
    background: white;
    border-radius: 8px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: -20px;
    pointer-events: none;
}

.pointer {
  cursor: pointer;
}

ul {
	margin: 0px;
	padding: 0px;
}

li.selected {
  margin-right: -10px;
  margin-left: 10px;
  background: silver;
  border-top: 1px solid silver;
  cursor: auto;
}

.dragging {
  opacity: 0.2;
  transform: scale(0.9);
}

.dragover {
  opacity: 0.2;
}

pre {
  height: 200px;
  overflow-y: auto;
}

.expand-transition {
  transition: all .4s ease;
  padding: 10px;
  padding-right: 30px;
  background-color: #eee;
  overflow: hidden;
  border-bottom: 1px solid silver;
  border-top: 1px solid white;
  position: relative;
}

.expand-enter, .expand-leave {
  height: 0px !important;
  opacity: 0.0;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.vanish-transition {
  transition: all .5s ease;
  overflow: hidden;
}

.vanish-enter, .vanish-leave {
  height: 0px !important;
  padding: 0px !important;
  border: 0px solid green !important;
}

.appear-transition {
  transition: opacity .5s ease;
}

.appear-enter, .appear-leave {
  opacity: 0.0;
}

.pulsate {
  background: rgb(17, 17, 17);
  animation-name: pulsate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes pulsate {
    from {background: #003300;}
    to {background: ##4AF930;}
}

[v-cloak] {
  display: none;
}

@media all and (max-width: 580px) {
  #left {
    display: none;
  }
}
